<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <input type="text" id="txt" /> -->
    <!-- <input type="button" id="btn" value="添加"/> -->
    <ul id="ul">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>

    <script>
        window.onload = function () {
            // const btn = document.getElementById('btn')
            // const txt = document.getElementById('txt')
            const ul = document.getElementById('ul')

            // btn.addEventListener('click', function () {
            //     const li = document.createElement('li')
            //     li.innerHTML = txt.value
            //     ul.appendChild(li)
            // }, false)

            ul.addEventListener('click', function (e) {
                
            }, false)
        }
    </script>
</body>
</html>